.App {
  text-align: center;
}

.App-logo {
  display: block;
  height: 3vmin;
  pointer-events: none;
  justify-content: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.top-bar {
  background-color: #11172a;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(147, 184, 88);
}
.search-bar {
  align-items: center;
  justify-content: center;
}
.search{
  height: 3vh;
  width: 50vh;
}

.submit {
  background-color: #5e6d9d;
  opacity: 0.2;
  height: 3vh;
  width: 15vh;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
