.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Flex-container {
  display: flex;
  flex-direction: column;
}

.Video  {
  display: flex;
  margin-left: 20px;
  align-items: flex-start;
  margin-top: 10px;
}

.Description-container  { 
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  overflow: hidden;
  height: 175px;
  font-size: large;
  font-weight: bold;
}

.Description-text {
  font-size: medium;
  font-weight: normal;
}

p {
  margin: 5px;
}

.Sign-Out-Button {
  position: absolute;
	top: 23px;
	right: 0px;
	height: 40px;
  width: 200px;
	margin-top: 12px;
	margin-right: 12px;
}